<h1>New Employee</h1>
<hr />
<div class="col-md-6">
  <form [formGroup]="employeeForm" (ngSubmit)="saveEmployee()">
    <div class="form-group">
      <label>First Name:</label>
      <span class="invalid-message" *ngIf="ifControlRequired(firstName)">Field is required</span>
      <input formControlName="firstName" type="text" class="form-control" />
    </div>

    <div class="form-group">
      <label>Last Name:</label>
      <span class="invalid-message" *ngIf="lastName.touched && lastName.invalid && lastName.errors['required']">Field is
        required</span>
      <input formControlName="lastName" type="text" class="form-control" />
    </div>

    <div class="form-group">
      <label class="control-label">Job Title</label>
      <span class="invalid-message" *ngIf="jobTitle.touched && jobTitle.invalid && jobTitle.errors['required']">Field is
        required</span>
      <select class="form-control" formControlName="jobTitle">
        <option value="">Select a Job Title</option>
        <option value="{{ job }}" *ngFor="let job of jobs">{{ job }}</option>
      </select>
    </div>

    <div class="form-group">
      <label class="col-form-label">Code</label>

      <div class="invalid-message" *ngIf="code.touched && code.invalid">
        <div *ngIf="code.errors['required']">
          Code is required!
        </div>
        <div *ngIf="code.errors['pattern']">
          The format of Code is not Correct! Use pattern: "1 to 3 digits - 1 to 3letters"
        </div>
      </div>

      <input class="form-control" type="text" placeholder="Code..." formControlName="code" />
    </div>

    <div class="form-group">
      <label class="control-label">Region</label>
      <span class="invalid-message" *ngIf="region.touched && region.invalid && region.errors['required']">Field is
        required</span>
      <select class="form-control" formControlName="region">
        <option value="default">Select a Region</option>
        <option *ngFor="let region of regions">{{ region }}</option>
      </select>
    </div>

    <div class="form-group">
      <label class="col-form-label">Salary</label>

      <div class="invalid-message" *ngIf="salary.invalid && salary.touched">
        <div *ngIf="salary.errors['required']">
          Salary is required!
        </div>
        <div *ngIf="salary.errors['min']">
          The minimum salary allowed is {{salary.errors['min']['min']}}
        </div>
      </div>

      <input class="form-control" type="number" placeholder="Salary..." formControlName="salary" />
    </div>

    <div class="form-group" formArrayName="certificates">
      <label class="col-form-label" style="margin-right: 10px">Certificates</label>

      <button (click)="addCertificate()" class="btn btn-default">Add Another Certificate</button>

      <div *ngFor="let cert of certificates.controls; let i=index">
        <div [formGroupName]="i" class="certificate-group">
          <label class="col-form-label">Certificate Name</label>
          <input class="form-control" type="text" placeholder="Certificate name" formControlName="name" />

          <label class="col-form-label">Certificate Year</label>
          <input class="form-control" type="text" placeholder="Certificate Year" formControlName="year" />
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="employeeForm.invalid">
      Save
    </button>
    <button type="button" class="btn btn-default" (click)="cancel()">
      Cancel
    </button>
  </form>

  <div style="text-align: center; width: 100%;">
    {{employeeForm.value | json}}
  </div>
</div>