<div class="container">
  <img [src]="employee?.imageUrl" [alt]="employee?.name" class="employee-image">

  <div class="row">
    <div class="col-md-11">
      <h2>{{employee?.firstName}} {{employee?.lastName}}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div><strong>Function:</strong> {{employee?.jobTitleName}}</div>
      <div><strong>Code:</strong> {{employee?.employeeCode}}</div>
      <div><strong>Salary:</strong> ${{employee?.salary}}</div>
    </div>
    <div class="col-md-6">
      <address>
        <strong>Address:</strong><br />
        {{employee?.location?.address}}<br />
        {{employee?.location?.city}}, {{employee?.location?.country}}
      </address>
    </div>
  </div>
</div>